* {
  margin: 0;
  border: 0;
}
.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  box-sizing: border-box;
  max-width: 1366px;
  padding: 0 160px;
}
.navbar {
  position: absolute;
  width: 100%;
  height: 30%;
}
.productList {
  /* width: 23%; */
  height: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: visible;
  position: relative;
}
