.mid_search {
  width: 835px;
  height: 100%;
  display: flex;
}
.mid_input {
  width: 90%;
  margin: auto;
  border-radius: 19px/50%;
  padding-left: 16px;
  background: #fff;
  display: flex;
  align-items: center;
}
.mid_input_text {
  color: #2d2d2d;
  width: 96%;
  font-size: 14px;
  border: 0;
  height: 38px;
  padding-left: 16px;
  box-sizing: border-box;
  font-family: system-ui;
  letter-spacing: 0.4px;
}

.mid_input_text_forcus {
  border: none !important;
}

.mid_input_text_forcus:focus-visible {
  /* outline: solid 1px !important; */
}
