.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  /* top: 0;
  position: absolute; */
}
/* TOP BAR */
.top_bar {
  height: 30px;
  width: 100%;
  background-color: #f8f8f8;
  display: flex;
  margin: 0 auto;
  /* max-width: 1366px; */
  box-sizing: border-box;
  padding: 0 32px;
  justify-content: flex-end;
}
.lang_group {
  height: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  /* float: right; */
}
.lang {
  display: flex;
  float: left;
  height: 100%;
  border-left: 1px solid #ddd;
  color: #666666;
  padding: 0px 19px;
  font-size: 13px;
  font-family: candara;
  align-items: center;
  letter-spacing: 1px;
}
.img {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #ddd;
}

/* MID BAR */
.mid_bar {
  height: 60px;
  /* width: fit-content; */
  background-color: #2d2d2d;
  display: flex;
  flex-direction: row;
}
.mid_bar_group {
  height: 100%;
  width: 100%;
  max-width: 1366px;
  padding: 0 32px;
  box-sizing: border-box;
  display: flex;
}
/* Mid Left */
.mid_left_group {
  height: 100%;
  display: flex;
  width: 100%;
}
.logo_bg {
  height: 100%;
  text-align: center;
  margin-left: -20px;
  padding: 0 20px;
  border-right: 0.5px solid #464646f1;
}
.logo {
  text-decoration: none;
  font-size: 43px;
  letter-spacing: -3.5px;
  font-family: fujiyama;
  align-items: center;
  display: flex;
  float: left;
  height: 100%;
  margin-top: -14%;
  font-weight: 500;
  color: rgb(252, 251, 251);
}
/* Gender Group */
.gender_group {
  height: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  display: flex;
}
.gender {
  width: 70px;
  display: flex;
  float: left;
  height: 100%;
  border-right: 0.5px solid #464646f1;
  color: #fff;
  padding: 0px 19px;
  font-size: 14px;
  font-family: Trebuchet MS;
  align-items: center;
  font-weight: 600;
  letter-spacing: 3px;
  justify-content: center;
}
/* Hover effects */
.gender:hover {
  background-color: #525050;
}
.gender_active {
  background-color: #525050;
}
/* Search Input */
.mid_search {
  width: 980px;
  height: 100%;
  display: flex;
}
.mid_input {
  width: 90%;
  margin: auto;
  border-radius: 19px/50%;
  padding-left: 16px;
  background: #fff;
  display: flex;
  align-items: center;
}
.mid_input_text {
  color: #2d2d2d;
  width: 96%;
  font-size: 14px;
  border: 0;
  height: 38px;
  padding-left: 16px;
  box-sizing: border-box;
  font-family: system-ui;
  letter-spacing: 0.4px;
}

/* Mid Right */
.mid_right_group {
  height: 100%;
  width: fit-content;
  padding: 0;
  margin: 0;
  align-items: center;
  display: flex;
  position: relative;
}
.widgets {
  width: 53px;
  background-color: #2d2d2d;
  border: none;
  display: flex;
  position: relative;
}
.widgets_icon {
  list-style: none;
  color: #fff;
  box-sizing: border-box;
  width: 27px;
  height: 55px;
}

.account_table {
  position: absolute;
  width: 306px;
  transition-delay: 2s;
  left: -175px;
  /* top: 100%; */
  transform: translate(0, 0px);
  animation: fadeIn 0.1s ease-in-out;
  z-index: 9999;
}

.table_top {
  text-align: center;
  margin-top: -7px;
}
.titleJ {
  /* TEXT */
  margin-top: 9px;
  font-size: 14px;
  color: #767676;
  letter-spacing: 2px;
  line-height: 1.7;
  /* TEXT-BOX */
  width: 50%;
  float: left;
  border-radius: 0;
  padding: 4px 0px 12px;
  position: relative;
  border-bottom: 2px solid #f1f1f1;
}
.titleJ:hover {
  color: rgb(116, 136, 248);
}
.titleS {
  /* TEXT */
  margin-top: 9px;
  font-size: 14px;
  color: #767676;
  letter-spacing: 2px;
  line-height: 1.7;
  /* TEXT-BOX */
  width: 50%;
  float: left;
  border-radius: 0;
  padding: 4px 0px 12px;
  position: relative;
  border-bottom: 2px solid #f1f1f1;
}
.titleS:hover {
  color: rgb(116, 136, 248);
}
.titleJ:after {
  content: " ";
  height: 20px;
  width: 2px;
  position: absolute;
  right: 0px;
  top: 5%;
  background: #2d2d2d;
  opacity: 0.1;
}

.table_bot {
  background-color: #f7f7f7;
  padding: 0;
  text-align: center;
}
.wrap {
  box-sizing: border-box;
  width: 100%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.wrap_icon {
  width: 25%;
  padding-top: 5px;
}
.icon {
  width: 25px;
  height: 40px;
  display: inline-block;
}
.wrap_text {
  width: 100%;
  padding-left: 10px;
  margin: 0px;
  float: left;
  box-sizing: border-box;
  border-radius: 0;
  padding: 20px 0 17px;
  position: relative;
}
.text {
  font-size: 13px;
  color: #767676;
  letter-spacing: 2px;
  text-decoration: none;
  line-height: 1.7;
}
.text:hover {
  color: rgb(116, 136, 248);
}
/* BOTTOM BAR */
.bottom_bar {
  height: 50px;
  /* width: 100%; */
  background-color: #525050;
  display: flex;
  padding: 0 67px;
  font-size: 12px;
  font-family: system-ui;
}
.bot_nav {
  width: 1302px;
  height: 50px;
  margin: auto;
  display: flex;
}
